/* CSS file */

ApplicationControlBar {
   fillAlphas: 1, 1;
   fillColors: #64b3e4, #64b3e4;
   backgroundColor: #64b3e4;
   backgroundAlpha: 1;
   cornerRadius: 12;
   dropShadowEnabled: true;
}  
    .Button
	{
		upSkin: Embed(source="vistaremix.swf", symbol="Button_upSkin");
		overSkin: Embed(source="vistaremix.swf", symbol="Button_overSkin");
		downSkin: Embed(source="vistaremix.swf", symbol="Button_downSkin");
		disabledSkin: Embed(source="vistaremix.swf", symbol="Button_disabledSkin");
		selectedDisabledSkin: Embed(source="vistaremix.swf", symbol="Button_disabledSkin");
		selectedDownSkin: Embed(source="vistaremix.swf", symbol="Button_downSkin");
		selectedOverSkin: Embed(source="vistaremix.swf", symbol="Button_overSkin");
		selectedUpSkin: Embed(source="vistaremix.swf", symbol="Button_upSkin");
		font-family: myriad;
        fontSize: 12;
        fontSharpness: -400;
		color: #000000;
		textRollOverColor:#000000;
		textSelectedColor:#000000; 
		fontWeight: normal;
		disabledColor:#999999;
	}  
    
     Label {
        font-family: myriad;
        fontSize: 12;
        fontSharpness: -50;
        fontAntiAliasType: advanced;
    }
    
    Checkbox {
    		 font-family: myriad;
    }
    
     Text {
        font-family: myriad;
        fontSize: 12;
        fontSharpness: -50;
        fontAntiAliasType: advanced;
    }    
    
    
    ComboBox
	{
		upSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_upSkin");
		disabledSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_disabledSkin");
		downSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_downSkin");
		editableDisabledSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_editableDisabledSkin");
		editableDownSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_editableDownSkin");
		editableOverSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_editableOverSkin");
		editableUpSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_editableUpSkin");
		overSkin: Embed(source="vistaremix.swf", symbol="ComboBoxArrow_overSkin");
		fontWeight:normal;
		dropdownStyleName:"comboDropDown";
		
		font-family: myriad;
        fontSize: 12;
	}

.comboDropDown
	{
		borderStyle:solid;
		borderColor:#898C95;
		borderThickness:1;
		selection-color:#3399FF;
		textSelectedColor:#ffffff;
		drop-shadow-enabled:true;
		shadow-distance:0;
	}
    
    
    
    
    DataGrid
	{
        alternatingItemColors: #F7F7F7, #E2E8F4;
    backgroundDisabledColor: #C4DFF4;
    dropShadowEnabled: true;
    headerColors: #96BEF4, #C7DCF9;
/*     headerStyleName: dataGridHeader; */
    horizontalGridLines: false;
    verticalGridLines: false;
        
	}
	
	.dataGridHeader
{
    fontSize: 10;
    font-family: myriad;
    color: #474545;
}
	
	
	LinkButton
{
	selection-color:#3399FF;
	corner-radius:4;
	text-decoration:none;
	textSelectedColor:#ffffff;
        font-family: myriad;
        fontSize: 12;
        fontSharpness: -200;
        fontAntiAliasType: advanced;
	color: #000000;
	fontGridFitType: subpixel;
	fontStyle: normal;
	fontWeight: normal;
	
}
    
     
    
    TextInput {
   			shadowDirection: center;
            shadowDistance: 1;	
            dropShadowEnabled: false;
            border-style: solid;
            border-thickness: 1;
    }
    
       
       TitleWindow {
       		title-style-name: TituloStyle1;
	borderAlpha: 1.0;
	borderColor: #A94215;
	roundedBottomCorners: false;
	borderThicknessBottom: 20;
	cornerRadius: 20;
	backgroundColor: #EFF5FB;
       }
       
       Panel {
       		 title-style-name: TituloStyle2;
    	}
    	
    	Alert
		{
			borderColor:#D9E2EB;
			borderAlpha:1;
			borderThicknessLeft: 6;
			borderThicknessRight: 6;
			borderThicknessTop: 0;
			borderThicknessBottom: 6;
			headerHeight: 28;
			cornerRadius:4;
			titleStyleName: "panelTitle";
			backgroundColor:#F0F0F0;
			backgroundAlpha:1; 
			color:#000000; 
			shadowDistance:0;
		}
       
       
       .TituloStyle1 {
       		color: white;
       		font-size: 16;
       		font-family: myriad;
       }
       
       .TituloStyle2 {
       		color: black;
       		font-size: 16;
       		font-family: myriad;
       }
       
       .Botao2 {
       	
       }
    
      
  	@font-face {
            src: local("Comic Sans MS");
            fontWeight: normal;
            fontFamily: "ComicSansMSEmbedded";
       	 }
    
   	@font-face{
		    src:                  url("MyriadWebPro.ttf");
		    fontFamily:           "myriad";
		}

